extends layout

block content
  .container.theme-showcase(role='main')
    .jumbotron
      h1= title
      ul.list-group
        each task in tasks
          li.list-group-item= task.desc

    form(action='/task', method='POST', role='form')
      legend Form title
      .form-group
        label(for='') Descripcion
        input.form-control(type='text', name='desc', id='', placeholder='Add yout task...')
      button.btn.btn-primary(type='submit') Submit